{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container-sm d-flex align-items-center justify-content-center vh-100">
        <div class="col-5 border border p-2 rounded-4 shadow">
            <div style="text-align: center; vertical-align: center;">
                <span style="font-size: 18px">&#128038</span>
                <span>Your public id is: <b>{{ app.user.uuid }}</b></span>
            </div>
            <div class="m-2" style="text-align: end;">
                <a style="text-decoration: none;" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
