{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-sm d-flex align-items-center justify-content-center vh-100">
        <div class="col-5 border border p-5 rounded-4 shadow">
            <div class="row justify-content-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="pt-2 pb-2"><a href="{{ path('app_register') }}" class="link-primary" style="text-decoration: none;">Sign up</a></div>
                    <button class="btn btn-lg btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
